# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
android/key.properties
android/app/google-services.json

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/

# Backend
backend/.venv/
backend/.env
backend/sermons/
backend/__pycache__/
backend/*.pyc
*.pyc
__pycache__/

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/

# macOS
.DS_Store
